body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #0330fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    background-color: #0330fc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
input[type="text"] {
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #0330fc;
    outline: none;
}

input[type="text"]:focus {
    border-color: #4195fc;
}
button {
    border-radius: 5px;
    padding: 5px 10px;
}

.complete-button.not-completed {
    background-color: #edda6d;
}

.complete-button.completed {
    background-color: #42f548;
}

h1 {
    font-size: 3em; /* Increase the font size */
    text-align: center; /* Center the text */
}

